os:
  - linux
  - osx
language: generic
env:
  global:
  - SWIFT_VERSION=4.0.3

sudo: required
dist: trusty
osx_image: xcode9.2

sudo: required

services:
  - docker

branches:
  only:
  - master
  - development
  - /\d+\.\d+\.\d+/

notifications:
  email:
    on_success: always
    on_failure: always

install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then docker pull ibmcom/swift-ubuntu-xenial; fi
  - git --version

script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then docker run -i -t -v ${TRAVIS_BUILD_DIR}:/root/repo ibmcom/swift-ubuntu-xenial /bin/bash -c "cd /root/repo; swift build"; fi # build project
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then docker run -i -t -v ${TRAVIS_BUILD_DIR}:/root/repo ibmcom/swift-ubuntu-xenial /bin/bash -c "cd /root/repo; swift test"; fi # test project
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then swift package clean; fi  # clean built artifacts if present
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then swift package fetch; fi  # clones all dependencies
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then swift build -Xlinker -L/usr/local/opt/openssl/lib -Xcc -I/usr/local/opt/openssl/include; fi # build project
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then swift test -Xlinker -L/usr/local/opt/openssl/lib -Xcc -I/usr/local/opt/openssl/include; fi #run tests

after_success:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      gem install slather;
      swift package generate-xcodeproj --xcconfig-overrides openssl.xcconfig;
      slather setup BluemixAppID.xcodeproj;
      xcodebuild -project BluemixAppID.xcodeproj -scheme BluemixAppID build;
      xcodebuild -project BluemixAppID.xcodeproj -scheme BluemixAppID -enableCodeCoverage YES test;
      slather coverage --coveralls --binary-basename BluemixAppID.framework -v;
    fi
